@import '../../styles/variables';
@import '../../styles/mixins';

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: $blue-color;
    text-align: center;
    height: 40px;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;

    .footer-title {
        color: $white-color;
        @include font-primary;
        font-weight: 600;
    }
}