$white-color: #ffffff;
$blue-color: #0e265c;
$yellow-color: #ffdd00;
$green-color: #4caf50;
$red-color: #f44336;

$color-background-th: #f2f2f2;
$color-border: #ddd;
$padding-cell: 16px;
$width-table: 1200px;
$width-logo: 90px;
$width-name: 160px;
$width-description: 200px;
$width-release-date: 190px;
$width-revision-date: 190px;
$width-menu-button: 5px;