<div class="floating-button">
    <div (click)="toggleMenu($event)">
        <img src="../../assets/opcion_icon.svg" alt="options">
    </div>
    @if (menuVisible) {
    <div class="menu">
        <button (click)="edit()">Editar</button>
        <button (click)="delete()">Eliminar</button>
    </div>
    }
</div>
@if(showModalDelete){
<app-modal-delete (closeModal)="closeModal()" [productDelete]="currentProduct"
    (productDeleted)="onProductDeleted($event)"></app-modal-delete>
}

@if(showModalEdit){
<app-register-form (closeModal)="closeModalEdit()" [isEdit]="true" [editProduct]="currentProduct"
    (productUpdated)="onProductUpdated($event)"></app-register-form>
}