<div>
    <div class="product-detail__container">
        <div class="product-detail__table">
            <div class="product-detail__options">
                <div class="product-detail__search-input">
                    <input type="text" placeholder="Buscar...">
                </div>
                <div class="product-detail__add-button">
                    <button class="button button--primary" (click)="showModalPr()">Agregar</button>
                </div>
            </div>

            <table>
                <thead>
                    <tr>
                        <th class="product-detail__table-logo">Logo</th>
                        <th class="product-detail__table-name">Nombre</th>
                        <th class="product-detail__table-description">Descripción</th>
                        <th class="product-detail__table-release-date">Fecha de
                            Liberación</th>
                        <th class="product-detail__table-revision-date">Fecha de
                            Revisión</th>
                        <th class="product-detail__table-menu-button">
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if(products.length > 0){
                    @for (product of products; track product.id; let i = $index, e = $even) {
                    <tr>
                        <td class="product-detail__table-logo">{{ product.logo }}</td>
                        <td class="product-detail__table-name">{{ product.name }}</td>
                        <td class="product-detail__table-description">{{ product.description }}</td>
                        <td class="product-detail__table-release-date">{{ product.date_release | date: 'dd/MM/yyyy'}}
                        </td>
                        <td class="product-detail__table-revision-date">{{ product.date_revision | date: 'dd/MM/yyyy' }}
                        </td>
                        <td class="product-detail__table-menu-button">
                            <app-floating-button [currentProduct]="product"></app-floating-button>
                        </td>
                    </tr>
                    }
                    }
                </tbody>
            </table>
            <div class="product-detail__pagination">
                <div class="product-detail__counter">
                    5 Resultados
                </div>

                <div class="product-detail__pagination-button">
                    <select>
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="20">20</option>
                    </select>
                </div>
            </div>
        </div>

    </div>
</div>

@if(showModalProduct){
<app-register-form (closeModal)="closeModal()" (productCreated)="onProductCreated($event)"
    [isEdit]="false"></app-register-form>
}