<div>
    <div class="product-detail__container">
        <div class="product-detail__table">
            <div class="product-detail__options">
                <div class="product-detail__search-input">
                    <input type="text" placeholder="Buscar...">
                </div>
                <div class="product-detail__add-button">
                    <button class="button button--primary">Agregar</button>
                </div>
            </div>

            <table>
                <thead>
                    <tr>
                        <th class="product-detail__table-logo">Logo</th>
                        <th class="product-detail__table-name">Nombre</th>
                        <th class="product-detail__table-description">Descripción</th>
                        <th class="product-detail__table-release-date">Fecha de
                            Liberación</th>
                        <th class="product-detail__table-revision-date">Fecha de
                            Revisión</th>
                        <th class="product-detail__table-menu-button"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="product-detail__table-logo">Logo 1</td>
                        <td class="product-detail__table-name">Producto A</td>
                        <td class="product-detail__table-description">Descripción del producto A</td>
                        <td class="product-detail__table-release-date">2024-09-19</td>
                        <td class="product-detail__table-revision-date">2024-09-19</td>
                        <td class="product-detail__table-menu-button">
                            <div>
                                <img src="../../assets/opcion_icon.svg" alt="options">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="product-detail__table-logo">Logo 1</td>
                        <td class="product-detail__table-name">Producto B</td>
                        <td class="product-detail__table-description">Descripción del producto B</td>
                        <td class="product-detail__table-release-date">2024-09-19</td>
                        <td class="product-detail__table-revision-date">2024-09-19</td>
                        <td class="product-detail__table-menu-button">
                            <div>
                                <img src="../../assets/opcion_icon.svg" alt="options">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="product-detail__table-logo">Logo 1</td>
                        <td class="product-detail__table-name">Producto C</td>
                        <td class="product-detail__table-description">Descripción del producto C</td>
                        <td class="product-detail__table-release-date">2024-09-19</td>
                        <td class="product-detail__table-revision-date">2024-09-19</td>
                        <td class="product-detail__table-menu-button">
                            <div>
                                <img src="../../assets/opcion_icon.svg" alt="options">
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="product-detail__pagination">
                <div class="product-detail__counter">
                    5 Resultados
                </div>

                <div class="product-detail__pagination-button">
                    <select>
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="20">20</option>
                    </select>
                </div>
            </div>
        </div>

    </div>
</div>